.main-loge-in{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    .login{
        background-color: white;
        width: 500px;
        height: 500px;
        @media screen and (max-width: 625px){
            background-color: rgb(245, 245, 245);
            border: none;
            box-shadow: none;
            border-radius: 0;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border: .5px solid rgb(183, 183, 183);
        box-shadow: 40px 40px 0px 1px rgb(227, 227, 227);
        border-radius: 30% 5%;
        .image{
            img{
                width: 100px;
                height: 80px;
            }
        }
        .information{
            .information{
                line-height: 100px;
            }
            a{
                text-decoration: none;
            }
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
            .title{
                font-size: 20px;
                font-weight: 900;
                color: black;
            }
            .fa-mobile-screen{
                position: absolute;
                right: 20px;
                top: 18px;
                color: gray;
            }
            .fa-xmark{
                position: absolute;
                left: 20px;
                top: 18px;
                color: gray;
            }
            .input-phone{
            position: relative;
            }
            .input-submit{
                width: 300px;
                border-radius: 8px;
                height: 50px;
                outline: none;
                border: none;
            }
            .input-text{
                width: 300px;
                border-radius: 8px;
                height: 50px;
                outline: none;
                padding-right: 50px;
                border: .5px solid rgb(183, 183, 183);
            }
        }
    }
}