{% extends '_layout.html' %}
{% load static %}
{% block title %}
    home
{% endblock %}
{% block section %}
    <main>
    <section>
        <div class="slider slider-first">
            <div class="swiper mySwiper big-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/static/images/slider-img/media-1.jpg" alt="slider-1"></div>
                    <div class="swiper-slide"><img src="/static/images/slider-img/media-2.jpg" alt="slider-2"></div>
                    <div class="swiper-slide"><img src="/static/images/slider-img/media-3.jpg" alt="slider-3"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

{% endblock %}
</main>