<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تیمچه</title>
    <link rel="stylesheet" href="../my-css/AHstyle.css">
    <link rel="stylesheet" href="../style/home.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/2740b0563c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="banner"><img src="../images/gif/baner.gif" alt="banner"></div>
    <header class="d-flex f-dir-column j-content-center align-item-center">
        <div class="top">
            <div class="right d-flex gap-6 j-content-center align-item-center">
                <div class="logo">
                    <img class="width-10" src="../images/logo/logo.png" alt="logo-timcheh">
                </div>
                <div class="searchs">
                    <input type="search" class="search width-12" placeholder="جستجو...">
                </div>
            </div>
            <div class="left d-flex j-content-center align-item-center ">
                <a href="#" class="buy-in-timcheh color-black">
                    در تیمچه بفروش!
                </a>
                <div class="space"></div>
                <div class="icon-gift"><i class="fa-solid fa-gift color-warning font-size-5"></i></div>
                <div class="space"></div>
                <div class="icon-question"><i class="fa-regular fa-circle-question font-size-5"></i></div>
                <div class="space"></div>
                <div class="register-login font-size-3">
                    <a href="./login.html">
                        ثبت نام/ورود
                    </a>
                </div>
                <div class="icon-buy"><a href="./cart.html"><i class="color-black fa-solid fa-cart-shopping font-size-5 margin-right-1"></i></a></div>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <li class="sub-menu li-1">
                    <a href="#">فرهنگ و هنر</a><i class="fa-solid fa-angle-down"></i>
                    <div class="mega-menus">

                        <!-- <div class="musiume-1">
                            <div class="titles font-size-5">لوازم التحریر</div>
                            <ul class="mega-menu-ul">
                            <li><a href="#">میکروسکوپ</a></li>
                            <li><a href="#">کیف و کوله</a></li>
                            <li><a href="#">چراغ مطالعه</a></li>
                            <li><a href="#">ماشین حساب</a></li>
                            </ul>
                        </div>



                        <div class="musiume-2">
                            <div class="titles font-size-5">آلات موسیقی</div>
                            <ul class="mega-menu-ul">
                                <li><a href="#">گیتار</a></li>
                                <li><a href="#">ساز های کوبه ای</a></li>
                                <li><a href="#">ساز های بادی</a></li>
                                <li><a href="#">کیبورد و ارگ</a></li>
                                <li><a href="#">پیانو</a></li>
                                <li><a href="#">ویولن</a></li>
                                <li><a href="#">ساز های ایرانی</a></li>
                                <li><a href="#">لوازم جانبی آلات موسیقی</a></li>
                                <li><a href="#"></a></li>
                                </ul>
                        </div> -->
                    </div>
                </li>
                <li class="sub-menu">
                    <a href="#">خانه وآشپزخانه</a><i class="fa-solid fa-angle-down"></i>
                    <div class="mega-menu-2 mega-menu">

                    </div>
                </li>
                <li class="sub-menu">
                    <a href="#">خودرو، ابزار، باغبانی</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">کالای دیجیتال</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">بهداشت شخصی و سلامت محسط</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">اسباب بازی، کودک و نوزاد</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">ورزش، سفر، کمپینگ</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">طلا، مد و پوشاک</a><i class="fa-solid fa-angle-down"></i>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="slider slider-first">
                <div class="swiper mySwiper big-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide"><img src="../images/slider-img/media-1.jpg" alt="slider-1"></div>
                      <div class="swiper-slide"><img src="../images/slider-img/media-2.jpg" alt="slider-2"></div>
                      <div class="swiper-slide"><img src="../images/slider-img/media-3.jpg" alt="slider-3"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                  </div>
            </div>
        </section>


        <section>
            <div class="nav-dashbord d-flex">
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/goldr.jpg">
                    <span class="text">طلا</span>
                </div>
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/hard.jpg">
                    <span class="text">هارد و دیسک</span>
                </div>
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/laptap.jpg">
                    <span class="text">لپتاپ</span>
                </div>
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/mashinlebasshoe.jpg">
                    <span class="text">ماشین لباس شویی</span>
                </div>
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/mobile.jpg">
                    <span class="text">موبایل</span>
                </div>

                <!--  -->

                <div class="nav-tabligh d-flex align-item-center j-content-between f-dir-column bg-blue">
                    <div class="nav-color"><span>اقساطی</span><i class="fa-solid fa-angle-right"></i></div>
                </div>
                <div class="nav-tabligh d-flex align-item-center j-content-between f-dir-column bg-green">
                    <div class="nav-color"><span>بخر</span><i class="fa-solid fa-angle-left"></i></div>
                </div>

                <!--  -->

                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/ps.jpg">
                    <span class="text">کنسول بازی</span>
                </div>
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/smart-watch.jpg">
                    <span class="text">ساعت هوشمند</span>
                </div>
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/TV.jpg">
                    <span class="text">تلوزیون</span>
                </div>
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/yakhchal.jpg">
                    <span class="text">یخچال</span>
                </div>
                <div class="nav-meghdar d-flex align-item-center j-content-between f-dir-column">
                    <img src="../images/nav-img/zafshoee765754.jpg">
                    <span class="text">ظرف شویی</span>
                </div>
            </div>
        </section>
        <!-- <section class="nav-menu margin-top-2">
            <div class="nav-value">
                <img src="../images/nav-img/goldr.jpg" alt="nav-1">
                <div class="title">طلا</div>
            </div>
            <div class="nav-value">
                <img src="../images/nav-img/hard.jpg" alt="nav-2">
                <div class="title">هارد اکسترنال</div>
            </div>
            <div class="nav-value">
                <img src="../images/nav-img/mobile.jpg" alt="nav-3">
                <div class="title">موبایل</div>
            </div>
            <div class="nav-value">
                <img src="../images/nav-img/laptap.jpg" alt="nav-4">
                <div class="title">لپ تاپ</div>
            </div>
            <div class="nav-value">
                <img src="../images/nav-img/mashinlebasshoe.jpg" alt="nav-5">
                <div class="title">ماشین ظرف شویی</div>
            </div>
            <div class="nav-value">
                <div class="nav-color-1">اقساطی<i class="fa-solid fa-angle-right"></i></div>
            </div>
            <div class="nav-value">
                <div class="nav-color-2">بخر<i class="fa-solid fa-angle-left"></i></div>
            </div>
             <div class="nav-value">
                <img src="../images/nav-img/ps.jpg" alt="nav-6">
                <div class="title">کنسول بازی</div>
            </div>
            <div class="nav-value">
                <img src="../images/nav-img/smart-watch.jpg" alt="nav-7">
                <div class="title">ساعت هوشمند</div>
            </div>
            <div class="nav-value">
                <img src="../images/nav-img/TV.jpg" alt="nav-8">
                <div class="title">تلوزیون</div>
            </div>
            <div class="nav-value">
                <img src="../images/nav-img/yakhchal.jpg" alt="nav-9">
                <div class="title">یخچال</div>
            </div>
            <div class="nav-value">
                <img src="../images/nav-img/zafshoee765754.jpg" alt="nav-10">
                <div class="title">ماشین ظرف شویی</div>
            </div>
            
        </section> -->

        <section class="baner-first d-flex j-content-between align-item-center margin-top-2">
            <div class="hamkari-and-aghsati"><img src="../images/baners/aghsati.jpg" alt="aghsati"></div>
            <div class="hamkari-and-aghsati"><img src="../images/baners/hamkari.jpg" alt="hamkari"></div>
        </section>


        <section class="off-timer product d-flex align-item-center gap-4">
            <div class="time-div">
                <div class="time-box width-12 height-16">
                    <img class="off-top" src="../images/off/off-top.png">
                    <div class="number">
                        <span class="second time-number">12</span>
                        <span class="do-noghte">:</span>
                        <span class="minet time-number">854</span>
                        <span class="do-noghte">:</span>
                        <span class="houre time-number">52</span>
                    </div>
                    <div class="images">
                        <img src="../images/off/off-bag.png" alt="off-bag">
                    </div>
                </div>
            </div>
            <div class="swiper swiper-kala mySwiper test">
                <div class="swiper-wrapper slider-off-timer">
              
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
            <!-- <div class="botton slid-off">
                <div class="swiper swiper-kala mySwiper test">
                    <div class="swiper-wrapper slider-off-timer">  
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div> -->
        </section>
        
        <!-- 
                                <div class="swiper-slide">
                                    <div class="kala-ha">
                                        <a href="#" class="text-decor-none color-black">
                                            <div class="images">
                                                <img src="../images/kalas/Electricaltools/Electricaltools-1.jpg">
                                            </div>
                                            <div class="botton">
                                                <span class="text">دریل پیچ گوشتی چکشی شارژی براشلس 20 ولت'</span>
                                                <div class="prices">
                                                    <div class="with-off">
                                                        <span class="price-off">200000</span>
                                                        <div class="darsad">20%</div>
                                                    </div>
                                                <div class="not-off">
                                                    <span class="price-aslis">650000</span>
                                                    <div class="toman">تومان</div>
                                                </div>
                                            </div>
                                            </a>
                                    </div>
                                    </div>
                                </div> -->



        <section class="baner-shoes">
            <div class="top d-flex j-content-between align-item-center">
                <h3 class="title">کفش</h3>
                <a href="#" class="link">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="botton d-flex j-content-between align-item-center">
                <div class="banershoes"><img src="../images/baners/man-shose.jpg" alt="man-shoes"></div>
                <div class="banershoes"><img src="../images/baners/woman-shose.jpg" alt="woman-shoes"></div>
            </div>
        </section>

        <section class="laptaps product">
            <div class="top">
                <span class="title">لپتاپ</span>
                <a href="#" class="link">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="botton">
                <div class="swiper swiper-kala mySwiper test">
                    <div class="swiper-wrapper slider-laptap">
                  
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>

        <section class="baner-four">
            <img src="../images/baners/hedphon.png" alt="hedphon">
            <img src="../images/baners/camera.png" alt="camera">
            <img src="../images/baners/hard.png" alt="hard">
            <img src="../images/baners/charjer.png" alt="charjer">
        </section>

        <!-- <div class="swiper mySwiper test">
            <div class="swiper-wrapper">
              <div class="swiper-slide bg-gray">Slide 1</div>
              <div class="swiper-slide bg-gray">Slide 2</div>
              <div class="swiper-slide bg-gray">Slide 3</div>
              <div class="swiper-slide bg-gray">Slide 4</div>
              <div class="swiper-slide bg-gray">Slide 5</div>
              <div class="swiper-slide bg-gray">Slide 6</div>
              <div class="swiper-slide bg-gray">Slide 7</div>
              <div class="swiper-slide bg-gray">Slide 8</div>
              <div class="swiper-slide bg-gray">Slide 9</div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div> -->

        <section class="computers product d-flex j-content-between align-item-center gap-4">
            <div class="baner"><a href="#"><img src="../images/baners/men_new.png" alt="men-new"></a></div>
            <div class="swiper swiper-kala mySwiper test">
                <div class="swiper-wrapper slider-computer">
              
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </section>

        <section class="baner-car d-flex j-content-between align-item-center">
            <div class="right"><img src="../images/baners/carkafposh3.jpg" alt="car-kafposh" id="car-kafposh"></div>
            <div class="right d-flex f-dir-column j-content-center align-item-center">
                <div class="top d-flex j-content-between align-item-center">
                    <img src="../images/baners/caryadak2.jpg" alt="car-yadak" id="car-yadak">
                    <img src="../images/baners/car1.jpg" alt="car" id="car">
                </div>
                <div class="botton d-flex j-content-between align-item-center">
                    <img src="../images/baners/carchair5.jpg" alt="car-chair" id="car-chair">
                    <img src="../images/baners/caroil4.jpg" alt="car-oil" id="car-oil">
                </div>
            </div>
        </section>

        <section class="glasses product">
            <div class="top">
                <span class="title">عینک</span>
                <a href="#" class="link">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="botton">
                <div class="swiper swiper-kala mySwiper test">
                    <div class="swiper-wrapper slider-glasses">
                  
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>

        <hr class="bg-gray margin-top-2 margin-botton-2"></hr>

        <section class="Handmade-Carpet product">
            <div class="top">
                <span class="title">فرش دستباف</span>
                <a href="./Handmade-Carpet.html" class="link">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="botton">
                <div class="swiper swiper-kala mySwiper test">
                    <div class="swiper-wrapper slider-Handmade-Carpet">
                  
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>
        
        <div class="baner-cooking">
            <a href="#">
                <img src="../images/baners/cooking.jpg" alt="baner-cooking">
            </a>
        </div>

        <section class="Electrical-tools product">
            <div class="top">
                <span class="title">ابزار برقی</span>
                <a href="#" class="link">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="botton product">
                <div class="swiper swiper-kala mySwiper test">
                    <div class="swiper-wrapper slider-Electrical-tools">
                  
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>

        <hr class="bg-gray margin-top-2 margin-botton-2"></hr>

        <section class="watch product">
            <div class="top">
                <span class="title">ساعت</span>
                <a href="#" class="link">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="botton">
                <div class="swiper swiper-kala mySwiper test">
                    <div class="swiper-wrapper slider-watchs">
                  
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>

        <section class="baner-watch two-baner">
            <a href="#"><img src="../images/baners/men-watch.png" alt="men-watch"></a>
            <a href="#"><img src="../images/baners/women-watch.png" alt="women-watch"></a>
        </section>

         <section class="Nabi-Mobile product">
            <div class="top">
                <span class="title">وسالی جانبی موبایل</span>
                <a href="#" class="link">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="botton">
                <div class="swiper swiper-kala mySwiper test">
                    <div class="swiper-wrapper slider-Nabi-Mobile">
                  
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </section>

        <!-- <section class="cart">
            <div class="top">
                <span class="title"></span>
                <a href="#" class="link">مشاهده همه<i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="botton">
                <div class="swiper mySwiper test">
                    <div class="swiper-wrapper slider-">
                  
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section> -->

        <hr class="bg-gray margin-top-2 margin-botton-2"></hr>

        
        
    </main>
    <footer>
        <div class="attribut">
            <div class="zemanat d-flex j-content-center align-item-center">
                <div class="image">
                    <img src="../images/footer/zemanat.svg" alt="zemanat">
                </div>
                <div class="text">
                    <div class="title">10 روز ضمانت بازگشت</div>
                    <div class="subset">حتی سلیقه ای!</div>
                </div>
            </div>

            <div class="aghsati d-flex j-content-center align-item-center">
                <div class="image">
                    <img src="../images/footer/aghsati.svg" alt="aghsati">
                </div>
                <div class="text">
                    <div class="title">امکان خرید اقساطی</div>
                    <div class="subset">بدون چک و ضامن</div>
                </div>
            </div>

            <div class="esalat d-flex j-content-center align-item-center">
                <div class="image">
                    <img src="../images/footer/esalat.svg" alt="esalat">
                </div>
                <div class="text">
                    <div class="title">تضمین اصالت کالا</div>
                    <div class="subset">واقعی!</div>
                </div>
            </div>

            <div class="poshtibani d-flex j-content-center align-item-center">
                <div class="image">
                    <img src="../images/footer/poshtibani.svg" alt="poshtibani">
                </div>
                <div class="text">
                    <div class="title">پشتیبانی تا 12 شب</div>
                    <div class="subset">حتی جمعه ها!</div>
                </div>
            </div>
        </div>
        <div class="information d-flex j-content- align-item-center">
            <div class="phone-number margin-left-5">
                <span>ﺷﻤﺎره ﺗﻤﺎس:
                    021-91012959</span>
            </div>
            <div class="email margin-left-5">
                <span>
                    آدرس ایمیل:
                    Salam@timcheh.com</span>
            </div>
            <div class="internet d-flex j-content-center align-item-center gap-1">
                <span>
                    تیمچه در شبکه های اجتماعی:
                    </span>
                    <div class="icons d-flex j-content-center align-item-center gap-4">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-telegram"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
            </div>
        </div>
        <div class="menu">
            <ul class="buyers">
                <span class="title">دفتر چه خریداران</span>
                <li><a href="#">ثبت سسفارشات</a></li>
                <li><a href="#">روش های پرداخت</a></li>
                <li><a href="#">شرایط ارسال</a></li>
                <li><a href="#">پیگیری سفارشات</a></li>
                <li><a href="#">ضمانت و بازگشت کالا</a></li>
            </ul>
            <ul class="Sellers">
            <span class="title">دفترچه فروشندگان</span>
                <li><a href="#">راهنمای فروشندگان</a></li>
                <li><a href="#">می خواهم فروشنده شوم</a></li>
                <li><a href="#">قوانین و مقررات فروش در تیمچه</a></li>
            </ul>
            <ul class="to-know">
                <span class="title">دانستنی ها</span>
                <li><a href="#">حریم شخص شما</a></li>
                <li><a href="#">قوانین و مقررات ما</a></li>
                <li><a href="#">فرصت های شغلی</a></li>
            </ul>
            <ul class="timcheh">
                <span class="title">تیمچه!</span>
                <li><a href="#">درباره تیمچه</a></li>
                <li><a href="#">ارتباط با تیمچه</a></li>
                <li><a href="#">مزیت های تیمچه</a></li>
                <li><a href="#">داستان تیمچه</a></li>
            </ul>
        </div>
        <div class="explanation">
            <span class="title">تیمچه، خرید آنلاین همه نوع کال</span>
            <span class="text">تیمچه، فروشگاهی اینترنتی با مدل بازارگاه یا «MarketPlace» است که با تنوع ده‌ها هزار کالا در دسته‌های متفاوت، خرید آنلاین همه‌چیز را برای همه در سراسر کشور امکان‌پذیر کرده است. لندو، اولین و بزرگ‌ترین استارتاپ ایرانی در حوزه خرید اقساطی،‌ فروشگاه اینترنتی تیمچه را راه‌اندازی کرده است. ضمانت اصل بودن کالا، ضمانت ده‌روزه بازگشت کالا، پشتیبانی در هفت روز هفته و امکان خرید اقساطی کالاها، مزایایی است که تیمچه برای خلق یک تجربه متفاوت از خرید آنلاین فراهم کرده است. در تیمچه سبدهایتان را با هرچیزی که در فکرش بودید، پر می‌کنیم. از موبایل و تلویزیون و دوربین گرفته تا ساز و ابزار و پوشیدنی و خوردنی!</span>
        </div>
        <div class="the-end">
            <span>کلیه حقوق این سایت متعلق به شرکت نوین تجارت مجازی صلاح دوست است.</span>
        </div>
    </footer>
    <script src="../js/dashbord.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../js/sliders.js"></script>
    <script src="../js/timer.js"></script>

</body>
</html>




