<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرش های دستباف</title>
    <link rel="stylesheet" href="../my-css/AHstyle.css">
    <link rel="stylesheet" href="../style/home.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/2740b0563c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="banner"><img class="width-100" src="../images/gif/baner.gif" alt="banner"></div>
    <header class="d-flex f-dir-column j-content-center align-item-center">
        <div class="top">
            <div class="right d-flex gap-6 j-content-center align-item-center">
                <div class="logo">
                    <img class="width-10" src="../images/logo/logo.png" alt="logo-timcheh">
                </div>
                <div class="searchs">
                    <input type="search" class="search width-12" placeholder="جستجو...">
                </div>
            </div>
            <div class="left d-flex j-content-center align-item-center ">
                <a href="#" class="buy-in-timcheh">
                    در تیمچه بفروش!
                </a>
                <div class="space"></div>
                <div class="icon-gift"><i class="fa-solid fa-gift color-warning font-size-5"></i></div>
                <div class="space"></div>
                <div class="icon-question"><i class="fa-regular fa-circle-question font-size-5"></i></div>
                <div class="space"></div>
                <div class="register-login color-text font-size-3">
                    ثبت نام/ورود
                </div>
                <div class="icon-buy"><i class="fa-solid fa-cart-shopping font-size-5 margin-right-1"></i></div>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <li class="sub-menu li-1">
                    <a href="#">فرهنگ و هنر</a><i class="fa-solid fa-angle-down"></i>
                    <div class="mega-menu ">
                        <div class="musiume-1">
                            <div class="titles font-size-5">لوازم التحریر</div>
                            <ul class="mega-menu-ul">
                            <li><a href="#">میکروسکوپ</a></li>
                            <li><a href="#">کیف و کوله</a></li>
                            <li><a href="#">چراغ مطالعه</a></li>
                            <li><a href="#">ماشین حساب</a></li>
                            </ul>
                        </div>
                        <div class="musiume-2">
                            <div class="titles font-size-5">آلات موسیقی</div>
                            <ul class="mega-menu-ul">
                                <li><a href="#">گیتار</a></li>
                                <li><a href="#">ساز های کوبه ای</a></li>
                                <li><a href="#">ساز های بادی</a></li>
                                <li><a href="#">کیبورد و ارگ</a></li>
                                <li><a href="#">پیانو</a></li>
                                <li><a href="#">ویولن</a></li>
                                <li><a href="#">ساز های ایرانی</a></li>
                                <li><a href="#">لوازم جانبی آلات موسیقی</a></li>
                                <!-- <li><a href="#"></a></li> -->
                                </ul>
                        </div>
                    </div>
                </li>
                <li class="sub-menu">
                    <a href="#">خانه وآشپزخانه</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">خودرو، ابزار، باغبانی</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">کالای دیجیتال</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">بهداشت شخصی و سلامت محسط</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">اسباب بازی، کودک و نوزاد</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">ورزش، سفر، کمپینگ</a><i class="fa-solid fa-angle-down"></i>
                </li>
                <li class="sub-menu">
                    <a href="#">طلا، مد و پوشاک</a><i class="fa-solid fa-angle-down"></i>
                </li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="adress d-flex j-content-center gap-2">
            <span>
                خانه
            </span>
            <i class="fa-solid fa-angle-left"></i>
            <span>
                کتاب لوازم تحریر و هنر
            </span>
            <i class="fa-solid fa-angle-left"></i>
            <span>
                فرش
            </span>
            <i class="fa-solid fa-angle-left"></i>
            <span>    
                فرش دستبافت 
            </span>
        </div>
        <div class="Amounts">
            <div class="sidbar">
                <div class="list">
                    <div class="title">
                        <span>دسته بندی نتایج</span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a class="margin-right-1 href="#"><i class="fa-solid fa-angle-down"></i>کتاب لوازم تحریر و هنر</a></li>
                            <li><a href="#">
                                <ul>
                                    <li><a class="margin-right-2" href="#"><i class="fa-solid fa-angle-down"></i>فرش</a></li>
                                    <li><a href="#">
                                        <ul>
                                            <li><a class="margin-right-3" href="#">فرش دستباف</a></li>
                                            <li><a class="margin-right-3" href="#">فرش پوست</a></li>
                                            <li><a class="margin-right-3" href="#">گلیم ماشینی</a></li>
                                            <li><a class="margin-right-3" href="#">گبه ماشینی</a></li>
                                            <li><a class="margin-right-3" href="#">فرش ماشینی</a></li>
                                        </ul>
                                    </a></li>
                                </ul>
                            </a></li>
                        </ul>
                        <div class="link margin-right-5"><a href="#">
                            <i class="fa-solid fa-angle-down"></i>مشاهده همه
                        </a></div>
                    </div>
                </div>
                <div class="searchs d-flex f-dir-column gap-3">
                <label class="label">جستوجو</label>
                <input type="search" class="search-small" placeholder="کالای مورد نظر را جستجو کنید">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="brand">
                <div class="search-brand d-flex f-dir-column gap-3">
                    <label class="label">برند</label>
                    <input type="search" class="search-small" placeholder="نام برند مورد نظر را جستجو کنید">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="Other d-flex gap-2 margin-top-2 margin-botton-2">
                    <input type="checkbox">
                    <label>متفرقه</label>
                </div>
                <div class="see-all">
                    <span><i class="fa-solid fa-angle-down"></i>مشاهده همه</span>
                </div>
                </div>
                <div class="yes-no">
                    <div class="left-over">
                        <label class="label label-yes-no">فقط کالا های موجود</label>
                        <label class="label label-yes-no">فقط کالاهای اصل</label>
                        <label class="label label-yes-no">فقط تخفیف دار</label>
                        <div class="reng">
                            <label class="label">فقط تخفیف دار</label>
                            <input type="range">
                        </div>
                    </div>
            </div>
            </div>
            <div class="Products">
            <!-- <div class="kala-Handmade-Carpet kala">
                <a href="#" class="text-decor-none color-black">
                <div class="images">
                    <img src="../images/kalas/Handmade-Carpet/-1.jpg">
                    <span class="text"></span>
                </div>
                <div class="prices">
                    <span class="price-aslis"></span>
                <div class="toman">تومان</div>
                </div>
            </div> -->
            </div>
        </div>
    </main>


    <footer class="margin-top-10">
        <div class="attribut">
            <div class="zemanat d-flex j-content-center align-item-center">
                <div class="image">
                    <img src="../images/footer/zemanat.svg" alt="zemanat">
                </div>
                <div class="text">
                    <div class="title">10 روز ضمانت بازگشت</div>
                    <div class="subset">حتی سلیقه ای!</div>
                </div>
            </div>

            <div class="aghsati d-flex j-content-center align-item-center">
                <div class="image">
                    <img src="../images/footer/aghsati.svg" alt="aghsati">
                </div>
                <div class="text">
                    <div class="title">امکان خرید اقساطی</div>
                    <div class="subset">بدون چک و ضامن</div>
                </div>
            </div>

            <div class="esalat d-flex j-content-center align-item-center">
                <div class="image">
                    <img src="../images/footer/esalat.svg" alt="esalat">
                </div>
                <div class="text">
                    <div class="title">تضمین اصالت کالا</div>
                    <div class="subset">واقعی!</div>
                </div>
            </div>

            <div class="poshtibani d-flex j-content-center align-item-center">
                <div class="image">
                    <img src="../images/footer/poshtibani.svg" alt="poshtibani">
                </div>
                <div class="text">
                    <div class="title">پشتیبانی تا 12 شب</div>
                    <div class="subset">حتی جمعه ها!</div>
                </div>
            </div>
        </div>
        <div class="information d-flex j-content- align-item-center">
            <div class="phone-number margin-left-5">
                <span>ﺷﻤﺎره ﺗﻤﺎس:
                    021-91012959</span>
            </div>
            <div class="email margin-left-5">
                <span>
                    آدرس ایمیل:
                    Salam@timcheh.com</span>
            </div>
            <div class="internet d-flex j-content-center align-item-center gap-1">
                <span>
                    تیمچه در شبکه های اجتماعی:
                    </span>
                    <div class="icons d-flex j-content-center align-item-center gap-4">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-telegram"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
            </div>
        </div>
        <div class="menu">
            <ul class="buyers">
                <span class="title">دفتر چه خریداران</span>
                <li><a href="#">ثبت سسفارشات</a></li>
                <li><a href="#">روش های پرداخت</a></li>
                <li><a href="#">شرایط ارسال</a></li>
                <li><a href="#">پیگیری سفارشات</a></li>
                <li><a href="#">ضمانت و بازگشت کالا</a></li>
            </ul>
            <ul class="Sellers">
            <span class="title">دفترچه فروشندگان</span>
                <li><a href="#">راهنمای فروشندگان</a></li>
                <li><a href="#">می خواهم فروشنده شوم</a></li>
                <li><a href="#">قوانین و مقررات فروش در تیمچه</a></li>
            </ul>
            <ul class="to-know">
                <span class="title">دانستنی ها</span>
                <li><a href="#">حریم شخص شما</a></li>
                <li><a href="#">قوانین و مقررات ما</a></li>
                <li><a href="#">فرصت های شغلی</a></li>
            </ul>
            <ul class="timcheh">
                <span class="title">تیمچه!</span>
                <li><a href="#">درباره تیمچه</a></li>
                <li><a href="#">ارتباط با تیمچه</a></li>
                <li><a href="#">مزیت های تیمچه</a></li>
                <li><a href="#">داستان تیمچه</a></li>
            </ul>
        </div>
        <div class="explanation">
            <span class="title">تیمچه، خرید آنلاین همه نوع کال</span>
            <span class="text">تیمچه، فروشگاهی اینترنتی با مدل بازارگاه یا «MarketPlace» است که با تنوع ده‌ها هزار کالا در دسته‌های متفاوت، خرید آنلاین همه‌چیز را برای همه در سراسر کشور امکان‌پذیر کرده است. لندو، اولین و بزرگ‌ترین استارتاپ ایرانی در حوزه خرید اقساطی،‌ فروشگاه اینترنتی تیمچه را راه‌اندازی کرده است. ضمانت اصل بودن کالا، ضمانت ده‌روزه بازگشت کالا، پشتیبانی در هفت روز هفته و امکان خرید اقساطی کالاها، مزایایی است که تیمچه برای خلق یک تجربه متفاوت از خرید آنلاین فراهم کرده است. در تیمچه سبدهایتان را با هرچیزی که در فکرش بودید، پر می‌کنیم. از موبایل و تلویزیون و دوربین گرفته تا ساز و ابزار و پوشیدنی و خوردنی!</span>
        </div>
        <div class="the-end">
            <span>کلیه حقوق این سایت متعلق به شرکت نوین تجارت مجازی صلاح دوست است.</span>
        </div>
    </footer>
    <script src="../js/handmade-carpet.js"></script>
</body>
</html>