<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <link rel="stylesheet" href="/static/style/home.min.css">
    <link rel="stylesheet" href="/static/my-css/AHstyle.css">
    <script src="https://kit.fontawesome.com/2740b0563c.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="main-loge-in">
        <form class="login">
            <div class="image"><img src="/static/images/logo/logo.png" alt="logo"></div>
            <div class="information">
                <div class="title">ورود به حساب کاربری</div>
                <label>شماره موبایل خود را وارد کنید.</label>
                <div class="input-phone margin-top-1">
                    <i class="fa-solid fa-mobile-screen"></i>
                    <input class="input-text" type="text" placeholder="شماره موبایل خود را وارد کنید">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <input type="submit" class="margin-top-2 bg-white-blue input-submit font-size-5 color-white" value="ادامه">
                <span class="margin-top-1 font-size-3 color-gray"><a href="#">شرایط و قوانین</a> سایت تیمچه و <a href="#">حریم خصوصی</a> را می پذیرم.</span>
            </div>
        </form>
    </main>
    <script src="/static/js/loge-in.js"></script>
</body>
</html>